.song-active{
	
	background-color: rgba(255,255,255,0.25) !important;
  color: white !important;
}
li.list-group-item:hover{
  background-color: rgba(255,255,255,0.25) !important;
  color: white !important;
}

.botones{
  background: transparent !important;
  border: transparent !important;
}
.botones:focus{
  box-shadow: none !important;
  border:  transparent !important;
}
.bg-dark-1{
  background: black;
}
.bg-dark-2{
  background : #181819;
}
.nombre-cancion{
  font-size:  1rem;
}
.nombre-artista{
  font-size: 0.85rem;
}